# Python bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Render outputs — ignore everything by default
/renders/*

# Track .glsl shader baselines for our test collections
!/renders/aswf/
/renders/aswf/**
!/renders/aswf/**/
!/renders/aswf/**/*.glsl

!/renders/adsk/
/renders/adsk/**
!/renders/adsk/**/
!/renders/adsk/**/*.glsl
